main {
  min-height: 80vh;
}

.navlink {
  font-size: 1rem !important;
}

.navheading {
  font-size: 1.4rem !important;
}

.nav-item {
  margin-right: 0 !important;
}

.rating {
  width: max-content;
}

.rating span {
  margin: 0.1rem;
}

.h3size {
  font-size: 2.8vh;
}

.round-spinner-small {
  height: 5vh !important;
  width: 5vh !important;
  margin-left: 40%;
  margin-top: 10%;
}

.round-spinner-large {
  height: 20vh !important;
  width: 20vh !important;
  margin-left: 40%;
  margin-top: 10%;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

strong {
  font-weight: bold;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;

  box-sizing: border-box;
}

#carousel-h2 {
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 100%;

  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 40px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .product-page-section {
    min-width: 350px;
  }

  .product-page-section:nth-child(3) {
    margin: 20px 0 0 50%;
  }
}
